@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,

body {
  background: linear-gradient(to left, rgba(18.85,26.57,52.49,1) 19.5%, rgb(3,7,18,1) 40.84%);
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

ul, ol {
  list-style: none;
}

li {
  list-style-type: none;
}

.custom-pink {
  background-color: #fc0ff5; 
  &:hover {
    background-color: #c90cc4; 
  }
}
